

<div class="show-table">
    <h1> <%= @animal.name %> The <%= @animal.species %> </h1>
        <p> Breed : <%= @animal.breed %> </p>
        <p> Age : <%= @animal.age %> </p>
        <p> Adoptable : <%= @animal.adoptable %> </p>
        <p> Admission Date : <%= @animal.admission_date %> </p>
</div>