<div class="show-table">
<div class="title-box">
    <div class="empty-green-box"> </div>
        <h1 class="title"> <%= @owner.first_name %> <%= @owner.last_name %>  </h1>
    <div class="empty-green-box"> </div>
</div>
    <p> Adopted Pets : <% @owner.animals().each do |animal| %></p>
    <p> <%= animal.name %> The <%= animal.species %> </p>
    <% end %>

<p>
<form action="/owners/<%= @owner.id %>/edit" method="get">
<input type="submit" value="Edit Owner">
</form>
</p>

<p>
<form action="/owners/<%= @owner.id %>/delete" method="post">
<input type="submit" value="Delete">
</form>
</p>
</div>