<div class="show-table">
<div class="title-box">
    <div class="empty-green-box"> </div>
        <h1 class="title"> <%= @trainer.first_name %> <%= @trainer.last_name %> </h1>
    <div class="empty-green-box"> </div>
</div>
    <p> Favourite Animal : <%= @trainer.fav_species %> </p>

<p>
<form action="/trainers/<%= @trainer.id %>/edit" method="get">
<input type="submit" value="Edit Trainer">
</form>
</p>

<p>
<form action="/trainers/<%= @trainer.id %>/delete" method="post">
<input type="submit" value="Delete">
</form>
</p>
</div>